@import url(./_global.css);

main {
  background-color: var(--secondary-pane-2);
  width: 75%;
  /* border: 1px red solid; */
}

section {
  color: var(--text);
  height: 500px;
  padding: 4.5em;
  display: flex;
}

/* #theme-switch { */
/*   position: fixed; */
/*   z-index: 1000; */
/*   bottom: 1.6em; */
/*   right: 1.6em; */
/*   height: 4em; */
/*   width: 4em; */
/*   border-radius: 100%; */
/* } */
